<div class="row box">
  <h2>
    <fa-icon class="theme" [icon]="faTools"></fa-icon>
    Some of the <span class="markIt">tools</span> that I use
  </h2>
  <div class="col-sm-12 col-md-4 centered">
    <fa-icon class="theme" [icon]="faGolang" size="10x"></fa-icon>
  </div>
  <div class="col-sm-12 col-md-4 centered">
    <fa-icon class="theme" [icon]="faAngular" size="10x"></fa-icon>
  </div>
  <div class="col-sm-12 col-md-4 centered">
    <fa-icon class="theme" [icon]="faNodeJs" size="10x"></fa-icon>
  </div>
  <div class="col-12 mt-5">
    <ul>
      <li>
        <strong>Backend</strong>: Go / Golang, REST API, SQL / RDBMS, Alexa
        Skills
      </li>
      <li><strong>Data Processing</strong>: Apache Kafka</li>
      <li>
        <strong>Frontend</strong>: Angular, TypeScript, NodeJS, Javascript,
        HTML5, CSS
      </li>
      <li>
        <strong>Deployment</strong>: Docker, Kubernetes, Google Cloud, AWS
      </li>
      <li>
        <strong>Project</strong>: JIRA, Agile - Scrum methodology, Microservices
        Architecture, DevOps
      </li>
    </ul>
  </div>
</div>
