<h2 class="mt-10">Some of my projects</h2>
<div class="row row-cols-1 row-cols-md-2 g-5">
  <div class="col projectItem" *ngFor="let item of items; index as i">
    <div class="card h-100">
      <!-- <img class="card-img-top" src="..." alt="Card image" /> -->
      <div class="card-body">
        <h5 class="card-title">{{ item.title }}</h5>
        <p class="card-text">
          {{ item.body }}
        </p>
      </div>
      <div class="card-footer">
        <button class="btn" (click)="btnClicked($event, item.btn1_link)">
          {{ item.btn1_text }}
        </button>
      </div>
    </div>
  </div>
</div>
