<div class="row introBox">
  <div class="col">
    <div class="row">
      <div class="col-md-6 imgBox">
        <img src="assets/img/avatar.png" alt="" />
      </div>
      <div class="col-md-6 pt-4">
        <h1>
          Hi!
          <fa-icon class="theme" [icon]="faHand"></fa-icon> I am
          <span class="markIt">Ryan</span>
        </h1>
        <h4>I like to create digital solutions ...</h4>
      </div>
    </div>
  </div>
</div>

<div class="row mb-5">
  <div class="col arrowBox">
    <fa-icon
      class="theme"
      [icon]="faCaretDown"
      size="2x"
      animation="shake"
    ></fa-icon>
  </div>
</div>
