<div class="row box">
  <h2>
    <fa-icon class="theme" [icon]="faFace"></fa-icon>
    About <span class="markIt">me</span>
  </h2>
  <div class="col-md-8">
    <p>
      I am a DevOps & Google Cloud certified software professional, with
      expertise and extensive experience in fullstack web application
      development. Primarily skilled in Go / Golang. I also work in JavaScript,
      Angular, TypeScript, NodeJS and related technologies. I have a strong
      understanding of software development methodologies, such as Agile and
      Scrum.
    </p>

    <p>
      I like exploring new lands. I enjoy meeting people from diverse cultures
      especially through immigration programmes & participating in their events.
      At times you can catch me staring at airplanes, taking off and landing
      (during the breaks & for no reason), while I am volunteering at the
      Toronto Pearson Airport. I do have fun with friends while gaming on the
      PS5 ("a below average" COD player) and Nintendo Switch (Mario Fan). I do
      operate a forklift whenever possible (for real).
    </p>
  </div>
  <div class="col-md-4 imgBox">
    <img src="assets/img/ryan.png" alt="" />
  </div>
</div>
